<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="icon" href="/admin/images/favicon.ico" type="image/x-icon">

    <title>Reset Password</title>
    <!-- FontAwesome CDN for icons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

    <style>
        body {
            font-family: 'Poppins', sans-serif;
            background-image: url('/admin/images/bg.png');
            background-size: cover;
            background-position: center;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
        }

        .login-container {
            background-color: rgba(255, 255, 255, 0.95);
            border-radius: 12px;
            box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
            padding: 30px;
            width: 500px;
            max-width: 100%;
            box-sizing: border-box;
        }

        .login-container h2 {
            text-align: center;
            color: #f06037;
            margin-bottom: 20px;
            font-size: 24px;
            font-weight: 600;
        }

        .form-group {
            margin-bottom: 20px;
            position: relative;
            /* Needed for eye icon positioning */
        }

        .form-group label {
            display: block;
            margin-bottom: 5px;
            color: #555;
            font-size: 14px;
        }

        .form-group input {
            width: 100%;
            height: 45px;
            padding: 10px;
            border: 1px solid #ddd;
            border-radius: 6px;
            box-sizing: border-box;
            font-size: 16px;
            background-color: #f9f9f9;
            transition: all 0.3s ease;
        }

        .form-group input:focus {
            border-color: #f06037;
            outline: none;
            background-color: #fff;
        }

        .eye-icon {
            position: absolute;
            right: 15px;
            top: 50%;
            transform: translateY(-50%);
            cursor: pointer;
            color: #888;
            font-size: 18px;
        }

        .login-button {
            width: 100%;
            height: 50px;
            padding: 10px;
            background-color: #ff5e45;
            color: white;
            border: none;
            border-radius: 6px;
            cursor: pointer;
            font-size: 18px;
            font-weight: 600;
            transition: background-color 0.3s ease;
        }

        .login-button:hover {
            background-color: #600c32;
        }

        .forgot-password {
            text-align: center;
            margin-top: 15px;
        }

        .forgot-password a {
            color: #f06037;
            text-decoration: none;
            font-size: 14px;
        }

        .forgot-password a:hover {
            text-decoration: underline;
        }

        p.error-message {
            color: red;
            text-align: center;
            margin-top: -10px;
            margin-bottom: 20px;
            font-size: 14px;
        }

        #toggleConfirmPassword {
            justify-content: center;
        }

        input[type="password"]::-ms-reveal,
        input[type="password"]::-ms-clear {
            display: none;
        }
    </style>
</head>

<body>
    <div class="login-container">
        <div aria-live="polite" aria-atomic="true" style="z-index: 1050;">
            <div id="toast-container" style="position: absolute; right: 0;" class="toast-container p-3"></div>
        </div>
        <h2>Reset Password</h2>
        <form action="/admin/resetpassword/{{id}}" method="POST">

            <div class="form-group">
                <label for="password">New Password</label>
                <input type="password" id="password" name="password" required value="{{password}}"
                    oninput="trimInput(this)">
                <i style="margin-top:10px" class="fa fa-eye eye-icon" id="togglePassword"
                    onclick="togglePassword()"></i>
            </div>
            <div class="form-group">
                <label for="confirmPassword">Confirm Password</label>
                <input type="password" id="confirmPassword" name="confirmPassword" required value="{{confirmPassword}}"
                    oninput="trimInput(this)">
                <i style="margin-top:10px" class="fa fa-eye eye-icon" id="toggleConfirmPassword"
                    onclick="toggleConfirmPassword()"></i>
            </div>
            {{#if message}}
            <p class="error-message">{{message}}</p>
            {{/if}}
            <button type="submit" class="login-button">Update Password</button>
        </form>
    </div>

    <script>
        function togglePassword() {
            var passwordField = document.getElementById("password");
            var toggleIcon = document.getElementById("togglePassword");

            if (passwordField.type === "password") {
                passwordField.type = "text";
                toggleIcon.classList.remove("fa-eye");
                toggleIcon.classList.add("fa-eye-slash");
            } else {
                passwordField.type = "password";
                toggleIcon.classList.remove("fa-eye-slash");
                toggleIcon.classList.add("fa-eye");
            }
        }

        function toggleConfirmPassword() {
            var passwordField = document.getElementById("confirmPassword");
            var toggleIcon = document.getElementById("toggleConfirmPassword");

            if (passwordField.type === "password") {
                passwordField.type = "text";
                toggleIcon.classList.remove("fa-eye");
                toggleIcon.classList.add("fa-eye-slash");
            } else {
                passwordField.type = "password";
                toggleIcon.classList.remove("fa-eye-slash");
                toggleIcon.classList.add("fa-eye");
            }
        }

        function trimInput(input) {
            input.value = input.value.replace(/^\s+/g, ''); // Remove leading spaces
        }

        window.addEventListener('pageshow', function (e) {
            if (e.persisted) {
                window.location.reload();
                window.location.reload();
            }
        });
    </script>
    <script>
        // Check if the page needs to be reloaded when i click back button
        window.addEventListener('pageshow', function (event) {
            if (event.persisted || (window.performance && window.performance.navigation.type === 2)) {
                // Check if the page is loaded from the cache or back navigation
                if (!sessionStorage.getItem('reloaded')) {
                    // Set a flag in sessionStorage to prevent multiple reloads
                    sessionStorage.setItem('reloaded', 'true');
                    // Reload the page
                    window.location.reload();
                }
            }
        });

        // Reset the sessionStorage flag when the page is unloaded
        window.addEventListener('beforeunload', function () {
            sessionStorage.removeItem('reloaded');
        });
    </script>
</body>


</html>